* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    height: 100vh;
}

:root {
    --space: 10px;
    --cell-height: 50px;
}

table {
    border-collapse: collapse;
    background-color: beige;
    font-size: 30px;
}

th,
td {
    border: 1px solid black;
    height: var(--cell-height);
}

th {
    position: relative;
    width: 150px;
}

button {
    border: none;
    background-color: lightgray;
    padding-left: var(--space);
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
}

button:hover,
button:focus {
    box-shadow: 0 0 0 5px black inset;
    background-color: yellowgreen;

    .material-symbols-outlined {
        display: block;
    }
}

.material-symbols-outlined {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--cell-height);
}

th[aria-sort] > button > .material-symbols-outlined {
    display: block;
}

th[aria-sort="ascending"] > button > .material-symbols-outlined {
    transform: rotate(180deg);
}

td:first-child {
    padding-left: var(--space);
}

td:last-child {
    padding-right: var(--space);
    text-align: right;
}
